/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
body{
  padding-top:40px;
}
#logo{
  max-height:100px;
  margin-bottom:-30px;
}

#site_title{
  padding-top:34px;
}

#site_title a{
  color:#585857;
}

#site_title a:hover{
  text-decoration:none;
}

/*****************************************************************************/
/*
/* Typography
/*
/*****************************************************************************/

h1, h2, h3, h4, h5, h6{
  font-family: 'Droid Sans', sans-serif;
  color:#059E9A;
}

body{
  color:#585857;
  font-family: 'Droid Sans', sans-serif;
}

p, ul, ol{
  font-size:18px;
  line-height:150%;
}

a{
  color:#DB3E3B;
}

a:hover{
  color:#F5A243;
}

/*****************************************************************************/
/*
/* content
/*
/*****************************************************************************/

.content{
  padding-top:30px;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

footer{
  padding-top:50px;
}
