          <div class="row">
          <div class="header">
            <div class="col-md-4 col-md-offset-5">
              <a href="/"><img src="/images/logo.png" alt="code shack baby logo." id="logo" /></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-4">
              <h1 class="title" id="site_title"><a class ="text-center" href="/">code shack, baby.</a></h1>
            </div>
          </div>
        </div>
